<div class="row no-gutters col-lg-10 offset-lg-1">
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="menu-app">
            <div class="content-m">
                <div class="title-item-menu">
                    <label class="number-title-m">Nombre proyecto</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="menu-app">
            <div class="content-m">
                <div class="title-item-menu">
                    <label class="number-title-m">Nombre proyecto</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="menu-app">
            <div class="content-m">
                <div class="title-item-menu">
                    <label class="number-title-m">Nombre proyecto</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="menu-app">
            <div class="content-m">
                <div class="title-item-menu">
                    <label class="number-title-m">Nombre proyecto</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center no-gutters col-lg-10 offset-lg-1">
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="menu-app">
            <div class="content-m">
                <div class="title-item-menu">
                    <label class="number-title-m">Nombre proyecto</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="menu-app">
            <div class="content-m">
                <div class="title-item-menu">
                    <label class="number-title-m">Nombre proyecto</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="menu-app">
            <div class="content-m">
                <div class="title-item-menu">
                    <label class="number-title-m">Nombre proyecto</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center services">
    <div class="content-services d-flex">
        <div class="dar" data-toggle="modal" data-target="#myModal1">
            <span class="circulo"><i class="fa fa-home"></i></span>
            <span class="titulo">Sudescuento</span>
            <span class="titulo-hover">Ver más</span>
        </div>
        <div class="dar">
            <span class="circulo"><i class="fa fa-home"></i></span>
            <span class="titulo">Factoring</span>
            <span class="titulo-hover">Ver más</span>
        </div>
        <div class="dar">
            <span class="circulo"><i class="fa fa-home"></i></span>
            <span class="titulo">Supli-credit</span>
            <span class="titulo-hover">Ver más</span>
        </div>
        <div class="dar">
            <span class="circulo"><i class="fa fa-home"></i></span>
            <span class="titulo">Seguro</span>
            <span class="titulo-hover">Ver más</span>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">
                                    <i class="fa fa-times"></i>
                                </button>
            <!-- Modal Header -->
            <div class="modal-header m-header-multimedia">
                <div class="m-title-generic" style="width:100%">
                    Sudescuento
                </div>
            </div>
            <div class="lineal-modal-img"></div>
            <!-- Modal body -->
            <div class="modal-body m-body-multimedia">
                <div class="form-group">
                    <label for="usr" class="title-input">Usuario</label>
                    <input type="text" class="form-control form-global" id="usr" name="user" placeholder="digo">
                </div>
                <div class="form-group">
                    <label for="usr" class="title-input">Contraseña</label>
                    <input type="password" class="form-control form-global" id="password" name="password" placeholder="digo">
                </div>

                <div class="reset-pass-content">
                    Reestablecer Contraseña
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn-sub-principal" data-dismiss="modal">Ingresar</button>
                <button type="button" class="btn-sub-principal" data-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>
    <div>prueba </div>
</div>
