<div class="container">
    <div class="content-m-circle">
        <!-- <div class="menu-circle"> -->
        <div class="menu-circle-wrap">
            <div class="c-back-wrap">
                <div class="c-des-item">
                    <div class="c-des-content">
                        <div>
                            <h4 class="title-des-item mb-20 ">Goba</h4>
                            <p class="text-des-item">
                                Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                                Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500,
                                cuando un impresor
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position:absolute;">
            <div class="process-item-one"></div>
            <div class="icons-items one">
                <div class="content-items">
                    <div class="content-icon-font">
                        <i style="width: 100%;" class="fa fa-star"></i>
                    </div>
                </div>
                <div class="title-items">registrese</div>
            </div>
            <div class="icons-items two">
                <div class="content-items">
                    <div class="hw-100">
                        <div id="Solicitud1"></div>
                    </div>
                </div>
                <!-- <div class="title-items">Quienes somos</div> -->
                <a class="nav-link" [routerLink]="['quienesSomos']" routerLinkActive="router-link-active">Quienes somos</a>
            </div>
            <div class="icons-items three">
                <div class="content-items">
                    <div class="hw-100">
                        <div id="Solicitud1"></div>
                    </div>
                </div>
                <!-- <div class="title-items">procesos</div> -->
                <a class="nav-link" [routerLink]="['procesos']" routerLinkActive="router-link-active">Procesos</a>
            </div>
            <div class="icons-items four">
                <div class="content-items">
                    <div class="hw-100">
                        <div id="Solicitud1"></div>
                    </div>
                </div>
                <!-- <div class="title-items">faq</div> -->
                <a class="nav-link" [routerLink]="['faq']" routerLinkActive="router-link-active">FAQ</a>
            </div>
            <div class="icons-items five">
                <div class="content-items">
                    <div class="hw-100">
                        <div id="Solicitud1"></div>
                    </div>
                </div>
                <!-- <div class="title-items">Contáctenos</div> -->
                <a class="nav-link" [routerLink]="['contactenos']" routerLinkActive="router-link-active">Contáctenos</a>
            </div>
            <div class="icons-items six">
                <div class="content-items">
                    <div class="hw-100">
                        <div id="Solicitud1"></div>
                    </div>
                </div>
                <!-- <div class="title-items" [routerLink]="['noticias']" routerLinkActive="router-link-active" >Noticias</div> -->
                
                <a class="nav-link" [routerLink]="['noticias']" routerLinkActive="router-link-active">Noticias</a>
            </div>
        </div>
    </div>

</div>